<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LifeSpot</title>
    <link href="../Static/CSS/index.css" rel="stylesheet" type="text/css">
    <!--<script defer type="text/javascript" src="../Static/JS/testing.js"></script>-->
</head>

<!--SIDEBAR-->
<body>
    <header id="header-index">
        <h1>LifeSpot - О проекте</h1>
        <p>Учебный проект.</p>
        <p>Можно смотреть в прямом эфире и в записи города мира с легальных открытых камер</p>
    </header>
</body>
<!--FOOTER-->

</html>